*{
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
        font-family: 'Roboto', sans-serif;
}

/* container heightsl */
.form-row-height{
    height: calc(100vh - 57.31px);
}

/* Resetsl */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Font sizesl */
.font-10px{
    font-size: 10px;
}
.font-12px {
    font-size: 12px;
}

/* font weight */
.font-100{
    font-weight: 100;
}
.font-200 {
    font-weight: 200;
}
.font-300 {
    font-weight: 300;
}
.font-400 {
    font-weight: 400;
}
.font-500 {
    font-weight: 500;
}
